/* Application-wide Styles */

/* Headings */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
  }
  
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  /* Body */
  body {
    margin: 2rem;
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  
  /* Buttons */
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    transition: background-color 0.2s, color 0.2s;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* Everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  